workflow:
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
    - when: never

stages:
  - verify
  - test
  - github-sync

include:
  - project: '${GL_CICD_SHARED_PROJ}'
    ref: main
    file: '/github/validate.yml'
  - project: '${GL_CICD_SHARED_PROJ}'
    ref: main
    file: '/github/push.yml'

variables:
  RELEASE_VERSION: '144.0.7559'
  VERSION_BUMP_SCRIPT: 'scripts/bump_version.py'
  VERSION_BUMP_ARGS: '--version'
  GH_REPO_PRIVATE: 'false'
  GH_FORCE_PUSH: 'true'
