# Copyright 2025 The Trivalent Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and limitations under the License.

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      test_build:
        required: false
        type: boolean
        default: false
    secrets:
      RPM_SIGNING_KEY:
        required: true
      R2_ACCESS_KEY_ID:
        required: true
      R2_SECRET_ACCESS_KEY:
        required: true
      R2_ENDPOINT:
        required: true
  
name: Create RPM Release

permissions: {} 

jobs:
  buildsrpm:
    name: Build SRPM
    if: github.triggering_actor == 'royaloughtness'
    runs-on: ${{ inputs.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    container: 
      image: ${{ inputs.arch == 'x86_64' && 'fedora:42@sha256:89ed3ea10de7194c36524a290665960ddd4dae876a40beeadde2a9b4a0276681' || 'fedora:42@sha256:b6e8a32686d8bbe7a7e562d7215272a9b96b44c40e37f561ef807d112fde45d0' }}
    steps:
      - name: Enable egress auditing
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Build SRPM 
        shell: bash
        id: srpm_build
        run: |
          dnf copr enable secureblue/trivalent -y
          dnf update -y
          dnf install git wget rpmbuild yum-utils rpm-sign trivalent-chromium-clean-source -y
          SOURCE_CACHE_HASH=$(sha256sum /usr/src/chromium/chromium-*.xz)
          echo "SOURCE_CACHE_HASH: ${SOURCE_CACHE_HASH}"
          git clone https://github.com/secureblue/Trivalent.git
          bash ./Trivalent/copr_script.sh
          rpmbuild -bs -v --define "_sourcedir $PWD" --define "_rpmdir $PWD" --define "_builddir $PWD" --define "_specdir $PWD" --define "_srcrpmdir $PWD" trivalent.spec
          SRPM_HASH=$(sha256sum *.rpm)
          echo "SRPM_HASH: ${SRPM_HASH}"
          
      - name: Save SRPM
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: srpm-artifact
          path: "*.rpm"
          compression-level: 0 
          retention-days: 30

  buildrpm:
    name: Build RPM
    if: github.triggering_actor == 'royaloughtness'
    timeout-minutes: 180
    needs: buildsrpm
    runs-on: ${{ inputs.arch == 'x86_64' && 'runs-on=${{ github.run_id }}/runner=x86_64-runner' || 'runs-on=${{ github.run_id }}/runner=arm64-runner' }}
    steps:
      - name: Enable egress auditing
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Retrieve SRPM
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: srpm-artifact
          
      - name: Build RPM 
        shell: bash
        id: rpm_build
        env:
          ARCH: ${{inputs.arch}}
        run: |
          sudo dnf update -y
          sudo subscription-manager repos --enable codeready-builder-for-rhel-10-$(arch)-rpms
          sudo dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-10.noarch.rpm -y
          sudo dnf install rpm-build mock -y
          sudo usermod -aG mock "$(whoami)"
          SRPM_HASH=$(sha256sum *.rpm)
          echo "SRPM_HASH: ${SRPM_HASH}"
          mock --resultdir=. -r "fedora-42-${ARCH}" --rebuild trivalent-*.src.rpm
            
      - name: Surface build log
        if: always()
        run: |
          cat build.log || echo "build.log not found"

      - name: Upload log artifacts
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: build-logs
          path: "*.log"
          retention-days: 30

      - name: Prepare for upload
        shell: bash
        run: |
          rm trivalent-*.src.rpm

      - name: Save RPM
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: rpm-artifact
          path: "*.rpm"
          compression-level: 0 
          retention-days: 7

  pushrpm:
    name: Push RPM
    if: github.triggering_actor == 'royaloughtness'
    runs-on: ${{ inputs.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    container: 
      image: ${{ inputs.arch == 'x86_64' && 'fedora:42@sha256:89ed3ea10de7194c36524a290665960ddd4dae876a40beeadde2a9b4a0276681' || 'fedora:42@sha256:b6e8a32686d8bbe7a7e562d7215272a9b96b44c40e37f561ef807d112fde45d0' }}
    needs: buildrpm
    outputs:
      hashes: ${{ steps.sign.outputs.hashes }}
    steps:
      - name: Enable egress auditing
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Retrieve RPM
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: rpm-artifact

      - name: Setup
        shell: bash
        env:
          RPM_SIGNING_KEY: ${{ secrets.RPM_SIGNING_KEY }}
        run: |
          dnf install reposync rpm-sign createrepo rclone -y
          curl -o /etc/yum.repos.d/secureblue.repo https://repo.secureblue.dev/secureblue.repo
          dnf update --refresh -y
          echo "${RPM_SIGNING_KEY}" | gpg --import
          echo "
          %_signature gpg
          %_gpg_name 26B4463ED8F313BC7E3FBDF9D9223AF0F47B3E41
          " > ~/.rpmmacros

      - name: Sign
        shell: bash
        id: sign
        run: |
          trivalent_rpm_file=$(ls | grep -E '^trivalent-[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+-[0-9]+\.(x86_64|aarch64)\.rpm$')
          if [[ -z "$trivalent_rpm_file" ]]; then
            echo "Trivalent RPM not found"
            exit 1
          else
            echo "Trivalent RPM found: ${trivalent_rpm_file}"
          fi
          
          rpm --addsign *.rpm
          rpm_hash=$(sha256sum "${trivalent_rpm_file}" | base64 -w0)
          echo "hashes=${rpm_hash}" >> "$GITHUB_OUTPUT"
          reposync --repo secureblue -y
          mv *.rpm secureblue/Packages
          cd secureblue
          rm -rf repodata
          createrepo .
          gpg --detach-sign --local-user 26B4463ED8F313BC7E3FBDF9D9223AF0F47B3E41 --armor repodata/repomd.xml

      - name: Upload RPM and logs to R2 to trivalent Bucket
        shell: bash
        if: ${{ ! inputs.test_build }}
        env:
          RCLONE_CONFIG_R2_TYPE: s3
          RCLONE_CONFIG_R2_PROVIDER: Cloudflare
          RCLONE_CONFIG_R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          RCLONE_CONFIG_R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          RCLONE_CONFIG_R2_REGION: auto
          RCLONE_CONFIG_R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
          SOURCE_DIR: .
        run: |
          rclone copy ./secureblue/ R2:/ 

  provenance:
    needs: [pushrpm]
    permissions:
      actions: read # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: ${{ needs.pushrpm.outputs.hashes }}
      upload-assets: true
  
